.signup-div{
    /*center the div*/
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /**/
    background-color: aqua;
    width: 500px;
    height: 500px;
}

body{
    background-color: rgb(179, 172, 172);
}