.signup-div{
    /*NOTE Center div horizontally and vertically*/
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /*NOTE styling*/
    background-color: aqua;
    width: 1200px;
    height: 800px;
    border-radius: 15px;
    /*NOTE layout*/
    display: flex;
}

.left-side{
    height: 100%;
    width: 50%;
}

.right-side{
    height: 100%;
    width: 50%;
    border-left-color: black;
    border-left: 1px;
    border-left-style: solid;
}

body{
    background-color: rgb(179, 172, 172);
}