body{
    background-color: #dbe1ef;
}

.container{
    margin: auto;
    width: 25%;
    height: 900px;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
}

.contained{
    margin: auto;
    width: 95%;
    height: 895px;
    border: 2px grey solid;
    border-radius: 35px;
    text-align: center;
}

.image{
    width: 50%;
    border-radius: 100%;
}