
.landing{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('./layered-waves-haikei.svg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

