body{
    background-color: #6c63ff;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1500px;
    height: 900px;
    border-radius: 15px;
}

.svg-container{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.left-side{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.right-side{
    background-color: aquamarine;
    width: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}