body{
    background-color: #6c63ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1500px;
    height: 900px;
    border-radius: 15px;
}

.svg-container{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-side{
    position: relative;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.right-side{
    width: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    text-align: left;
    border-left-color: black;
    border-left: 1px;
    border-left-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-form{
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 15px;
}

.payment-input{
    background: none;
    border: none;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: solid;
    width: 80%;
    height: 60px;
}

.payment-input:focus{
    outline: none;
}

.form .payment-input{
    margin: 20px 0px;
}